In [1]:
import pandas as pd
import statsmodels.api as sm

In [2]:
Nord = pd.read_csv('SP.csv', parse_dates=True, index_col='Date',)
Nord

,Last Price,Volume,SMAVG (15),Last Price Demant,Volume Demant,SMAVG (15) Demant,Last Price Sonova,Volume Sonova,SMAVG (15) Sonova,Last Price SP,Volume SP,SMAVG (15) SP
Date,,,,,,,,,,,,
2023-03-29,"149,05",402886,1292103.0,"236,2",110887,369623.0,"258,9",35896,176548.0,NaN,NaN,NaN
2023-03-28,"140,7",558528,1313318.0,233,307828,386209.0,"254,5",122419,182456.0,"3971,27",510109088.0,899390464.0
2023-03-27,"143,4",602586,1322825.0,"226,4",162380,391251.0,"253,5",172631,185889.0,"3977,53",640358336.0,906816064.0
2023-03-24,"146,7",661681,1326921.0,225,289214,399454.0,"249,3",171924,184404.0,"3970,99",686692160.0,904974848.0
2023-03-23,"145,2",465773,1355432.0,"224,9",252560,405066.0,"257,4",217287,183294.0,"3948,72",761870848.0,900406464.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-14,"221,8",417409,NaN,232,397978,NaN,"148,26",168304,NaN,"2612,62",686582464.0,NaN
2018-03-13,222,642296,NaN,"230,6",329734,NaN,"146,72",196885,NaN,"2658,55",674796160.0,NaN
2018-03-12,"222,6",659804,NaN,"231,6",219645,NaN,"147,07",247908,NaN,"2588,26",710385984.0,NaN
2018-03-09,"220,2",744027,NaN,"231,4",307573,NaN,"148,01",188187,NaN,"2643,69",684188544.0,NaN
2018-03-08,"218,3",549902,NaN,"229,8",793795,NaN,"150,2",132200,NaN,"2711,93",539818624.0,NaN

In [3]:
Nord1 = Nord[Nord.columns[Nord.columns.isin(['Date','Last Price', 'Last Price SP'])]]
Nord1['Last Price'] = Nord1['Last Price'].str.replace('.','', regex=True).str.replace(',', '.', regex=True).astype(float)
Nord1['Last Price SP'] = Nord1['Last Price SP'].str.replace('.','', regex=True).str.replace(',', '.', regex=True).astype(float)
Nord1 = Nord1.iloc[1:, :]
Nord1

/tmp/ipykernel_2583/2788652924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nord1['Last Price'] = Nord1['Last Price'].str.replace('.','', regex=True).str.replace(',', '.', regex=True).astype(float)
/tmp/ipykernel_2583/2788652924.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nord1['Last Price SP'] = Nord1['Last Price SP'].str.replace('.','', regex=True).str.replace(',', '.', regex=True).astype(float)

            Last Price  Last Price SP
Date
2023-03-28       140.7        3971.27
2023-03-27       143.4        3977.53
2023-03-24       146.7        3970.99
2023-03-23       145.2        3948.72
2023-03-22       143.6        3936.97
...                ...            ...
2018-03-14       221.8        2612.62
2018-03-13       222.0        2658.55
2018-03-12       222.6        2588.26
2018-03-09       220.2        2643.69
2018-03-08       218.3        2711.93

[1264 rows x 2 columns]

In [4]:
Nord1.sort_values(by='Date', inplace = True) 
Nord1

            Last Price  Last Price SP
Date
2018-03-08       218.3        2711.93
2018-03-09       220.2        2643.69
2018-03-12       222.6        2588.26
2018-03-13       222.0        2658.55
2018-03-14       221.8        2612.62
...                ...            ...
2023-03-22       143.6        3936.97
2023-03-23       145.2        3948.72
2023-03-24       146.7        3970.99
2023-03-27       143.4        3977.53
2023-03-28       140.7        3971.27

[1264 rows x 2 columns]

In [5]:
daily_ret = Nord1.pct_change(1)
daily_ret_clean = daily_ret.dropna(axis=0)
daily_ret_clean

            Last Price  Last Price SP
Date
2018-03-09    0.008704      -0.025163
2018-03-12    0.010899      -0.020967
2018-03-13   -0.002695       0.027157
2018-03-14   -0.000901      -0.017276
2018-03-15    0.005861      -0.002917
...                ...            ...
2023-03-22    0.002793      -0.016463
2023-03-23    0.011142       0.002985
2023-03-24    0.010331       0.005640
2023-03-27   -0.022495       0.001647
2023-03-28   -0.018828      -0.001574

[1263 rows x 2 columns]

In [6]:

# split dependent and independent variable
X = daily_ret_clean['Last Price SP']
y = daily_ret_clean['Last Price']

# Add a constant to the independent value
X1 = sm.add_constant(X)

# make regression model 
model = sm.OLS(y, X1)

# fit model and print results
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Last Price   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.008
Method:                 Least Squares   F-statistic:                     10.92
Date:                Wed, 05 Apr 2023   Prob (F-statistic):           0.000977
Time:                        12:33:15   Log-Likelihood:                 2815.6
No. Observations:                1263   AIC:                            -5627.
Df Residuals:                    1261   BIC:                            -5617.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -7.525e-05      0.001     -0.103      0.918      -0.002       0.001
Last Price SP     0.1765      0.053      3.305      0.001       0.072       0.281
==============================================================================
Omnibus:                       94.764   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              477.341
Skew:                           0.039   Prob(JB):                    2.22e-104
Kurtosis:                       6.011   Cond. No.                         72.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [7]:
from scipy import stats
slope, intercept, r_value, p_value, std_err = stats.linregress(X, y)

print(f'Beta = {slope}')

Beta = 0.17654191010874118