In [84]:
import pandas as pd
import statsmodels.api as sm

In [85]:
SP = pd.read_csv('Samlet.csv', parse_dates=True, index_col='Date',)
SP

,Last Price - GN,Unnamed: 2,Date.1,Last Price - Demant,Unnamed: 5,Date.2,Last Price - S&P,Unnamed: 8,Date.3,Last Price - Sonova,Unnamed: 11,Dato,GN,Demant,S&P,Sonova
Date,,,,,,,,,,,,,,,,
2023-03-28,"140,7",NaN,3/28/2023,233,NaN,3/28/2023,"3971,27",NaN,3/28/2023,"254,5",NaN,3/28/2023,"140,7",233,"3971,27","254,5"
2023-03-27,"143,4",NaN,3/27/2023,"226,4",NaN,3/27/2023,"3977,53",NaN,3/27/2023,"253,5",NaN,3/27/2023,"143,4","226,4","3977,53","253,5"
2023-03-24,"146,7",NaN,3/24/2023,225,NaN,3/24/2023,"3970,99",NaN,3/24/2023,"249,3",NaN,3/24/2023,"146,7",225,"3970,99","249,3"
2023-03-23,"145,2",NaN,3/23/2023,"224,9",NaN,3/23/2023,"3948,72",NaN,3/23/2023,"257,4",NaN,3/23/2023,"145,2","224,9","3948,72","257,4"
2023-03-22,"143,6",NaN,3/22/2023,"223,8",NaN,3/22/2023,"3936,97",NaN,3/22/2023,"249,7",NaN,3/22/2023,"143,6","223,8","3936,97","249,7"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaT,NaN,NaN,NaN,NaN,NaN,3/15/2018,"2747,33",NaN,3/15/2018,"153,82",NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,NaN,NaN,NaN,NaN,3/14/2018,"2749,48",NaN,3/14/2018,"151,99",NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,NaN,NaN,NaN,NaN,3/13/2018,"2765,31",NaN,3/13/2018,"152,14",NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,NaN,NaN,NaN,NaN,3/12/2018,"2783,02",NaN,3/12/2018,"155,46",NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,NaN,NaN,NaN,NaN,3/9/2018,"2786,57",NaN,3/9/2018,"155,26",NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
SP = SP[SP.columns[SP.columns.isin(['Dato','GN', 'S&P'])]]
SP = SP[SP.columns[SP.columns.isin(['Date','GN', 'S&P'])]]
SP['GN'] = SP['GN'].str.replace('.','', regex=True).str.replace(',', '.', regex=True).astype(float)
SP['S&P'] = SP['S&P'].str.replace('.','', regex=True).str.replace(',', '.', regex=True).astype(float)

In [92]:
SP.sort_values(by='Date', inplace = True) 
SP = SP.iloc[:1250]
SP = SP.iloc[1:]
SP

/tmp/ipykernel_4597/1547371782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SP.sort_values(by='Date', inplace = True)

                GN      S&P
Date
2018-03-09  220.20  2786.57
2018-03-12  222.60  2783.02
2018-03-13  222.00  2765.31
2018-03-14  221.80  2749.48
2018-03-15  223.10  2747.33
...            ...      ...
2023-03-02  148.70  3981.35
2023-03-03  157.45  4045.64
2023-03-06  157.75  4048.42
2023-03-07  156.70  3986.37
2023-03-08  154.70  3992.01

[1249 rows x 2 columns]

In [98]:
daily_ret = SP.pct_change(1)
daily_ret_clean = daily_ret.dropna(axis=0)
daily_ret_clean

                  GN       S&P
Date
2018-03-12  0.010899 -0.001274
2018-03-13 -0.002695 -0.006364
2018-03-14 -0.000901 -0.005724
2018-03-15  0.005861 -0.000782
2018-03-16 -0.005827  0.001703
...              ...       ...
2023-03-02  0.021642  0.007582
2023-03-03  0.058843  0.016148
2023-03-06  0.001905  0.000687
2023-03-07 -0.006656 -0.015327
2023-03-08 -0.012763  0.001415

[1248 rows x 2 columns]

In [99]:

# split dependent and independent variable
X = daily_ret_clean['S&P']
y = daily_ret_clean['GN']

# Add a constant to the independent value
X1 = sm.add_constant(X)

# make regression model 
model = sm.OLS(y, X1)

# fit model and print results
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     GN   R-squared:                       0.077
Model:                            OLS   Adj. R-squared:                  0.076
Method:                 Least Squares   F-statistic:                     103.5
Date:                Wed, 12 Apr 2023   Prob (F-statistic):           2.10e-23
Time:                        14:22:08   Log-Likelihood:                 2824.0
No. Observations:                1248   AIC:                            -5644.
Df Residuals:                    1246   BIC:                            -5634.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0001      0.001     -0.198      0.843      -0.002       0.001
S&P            0.5296      0.052     10.172      0.000       0.427       0.632
==============================================================================
Omnibus:                      109.292   Durbin-Watson:                   2.138
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              655.487
Skew:                           0.053   Prob(JB):                    4.60e-143
Kurtosis:                       6.549   Cond. No.                         73.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [100]:
from scipy import stats
slope, intercept, r_value, p_value, std_err = stats.linregress(X, y)

print(f'Beta = {slope}')

Beta = 0.529648195528937